<div class="banner">
  <div>
    <h1>Watch List <i class="fa-regular fa-circle-play"></i> Cinema</h1>
    <p>Save any kinds of movies with our smart movie lists.</p>
  </div>
  <%= image_tag "main.svg", class: "main-img" %>
</div>

<div class="container">
  <%= link_to "Add new list", new_list_path, class: "btn btn-outline-primary rounded-pill" %>
  <div class="cards my-4">
    <% @lists.each do |list| %>
      <div class="card-main">
        <%= image_tag "movie.jpg" %>
        <div class="card-main-infos">
          <h2><%= list.name %></h2>
          <%= link_to "See list details", list_path(list), class: "text-decoration-none" %>
        </div>
      </div>
    <% end %>
  </div>
</div>